/* st-story.css */

/* page */

.st-page {
	position: relative;
	height: 1268px;
	width: 100%;
	overflow: hidden;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
}

.st-page-cr {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

/* border */

.st-section {
	border: 1px solid #ff0000;
}

.st-item {
	border: 1px solid #cc0000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}
